.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

ul,
li {
    list-style: none;
}

ul {
    margin: 40px;
    padding: 0;
}

li {
    padding: 15px 0;
    text-align: center;
}

.modal-container {
    padding: 30px;
    border: 1px solid brown;
    background: #fff;
    width: 400px;
    position: absolute;
    left: 2%;
    transition: all 1s ease-out;
    box-sizing: border-box;
}

.modal-container.hide {
    top: -100%;
}

.modal-container.show {
    top: 20%;
}

.modal-container > * {
    display: block;
    clear: both;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}

.modal-container input{
    display: block;
    clear: both;
    margin: 10px auto;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
    padding: 5px;
}